In [1]:
import pandas as pd

# Загрузка данных
data = pd.read_csv('data_magn.csv')

In [2]:
data.head()

   Nm  Nm_pm   Bn   Bs    Bav    Fb
0   1      1  227  230  228.5  5.81
1   2      3  243  222  232.5  5.93
2   3      4  219  246  232.5  5.87
3   4      5  239  219  229.0   NaN
4   5      6  244  219  231.5  5.88

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nm      571 non-null    int64
 1   Nm_pm   571 non-null    int64
 2   Bn      571 non-null    int64
 3   Bs      571 non-null    int64
 4   Bav     571 non-null    float64
 5   Fb      556 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 26.9 KB

In [4]:
display(data.isna().sum())

Nm        0
Nm_pm     0
Bn        0
Bs        0
Bav       0
Fb       15
dtype: int64

In [6]:
display(data.describe())

               Nm        Nm_pm          Bn          Bs         Bav          Fb
count  571.000000   571.000000  571.000000  571.000000  571.000000  556.000000
mean   288.112084   565.040280  230.049037  231.010508  230.143345    5.889388
std    167.010625   558.878388    9.208370   10.081765    9.902108    0.051566
min      1.000000     1.000000  210.000000  209.000000    5.850000    5.730000
25%    143.500000   200.000000  222.000000  224.000000  229.000000    5.860000
50%    288.000000   451.000000  231.000000  232.000000  230.500000    5.890000
75%    433.500000   655.500000  237.000000  238.000000  232.000000    5.930000
max    576.000000  2910.000000  251.000000  336.000000  279.500000    6.070000

In [12]:
display(pd.DataFrame([round(data.median()), round(data.mean())], index = ['median', 'mean']))

           Nm  Nm_pm     Bn     Bs    Bav   Fb
median  288.0  451.0  231.0  232.0  230.0  6.0
mean    288.0  565.0  230.0  231.0  230.0  6.0