In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

In [16]:
# Загрузка данных
pairs_df = pd.read_csv("data_pairs.csv")
magn_df = pd.read_csv("data_magn.csv")
pairs_df.drop(['Bpair_av', 'Fpair_av'], axis=1, inplace=True)
magn_df.drop(['Nm', 'Bav'], axis=1, inplace=True)
magn_df.rename(columns={'Nm_pm': 'Nm'}, inplace=True)
pairs_df.head(3)

   Npair  Nm1  Nm2  Bpair_N  Bpair_S    Fpair_N    Fpair_S
0      1    5   15      345      346  11.755906  11.755906
1      2   11   17      343      345  11.897638  11.897638
2      3  102  108      342      341  11.740157  11.740157

In [17]:
magn_df.head(3)

   Nm   Bn   Bs    Fb
0   1  227  230  5.81
1   3  243  222  5.93
2   4  219  246  5.87

In [33]:
n, pairs = 0, 0
merged = []
for _, row in pairs_df.iterrows():
    Npair, Nm1, Nm2, Bpair_N, Bpair_S, Fpair_N, Fpair_S = row
    try:
        Nm_1, Bm1_N, Bm1_S, Fm1_B = magn_df[magn_df.Nm == Nm1].iloc[0]
    except IndexError:
        # print(f'магнит №ПМ {Nm1} не найден')
        Bm1_N, Bm1_S, Fm1_B = '', '', ''
        n += 1
    try:
        Nm_2, Bm2_N, Bm2_S, Fm2_B = magn_df[magn_df.Nm == Nm2].iloc[0]
    except IndexError:
        # print(f'магнит №ПМ {Nm2} не найден')
        Bm2_N, Bm2_S, Fm2_B = '', '', ''
        n += 1

    try:
        merged.append([int(Npair), int(Nm1), int(Bm1_N), int(Bm1_S), Fm1_B, int(Nm2), int(Bm2_N), int(Bm2_S), Fm2_B, int(Bpair_N), int(Bpair_S), Fpair_N, Fpair_S])
    except ValueError:
        # print(f'Пропускаем пару {int(Npair)}, так как не найдены магниты')
        pairs += 1

merged_df = pd.DataFrame(merged, columns = ['Npair', 'Nm1', 'Bm1_N', 'Bm1_S', 'Fm1_B', 'Nm2', 'Bm2_N', 'Bm2_S', 'Fm2_B', 'Bpair_N', 'Bpair_S', 'Fpair_N', 'Fpair_S'])
print(f'Пропущено {pairs} пар, так как не найдены входящие магниты')

Пропущено 43 пар, так как не найдены входящие магниты

In [39]:
merged_df.dropna(inplace=True)
merged_df.to_csv('data_merged.csv')